.image {
  margin-bottom: 20px;
}

.controls {
  position: absolute;
  right: 30px;
  top: 0;
}

.btn-inline {
  display: inline;
}

.button {
  float: left;
  margin-right: 10px;
  display: inline-block;
  background: red;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
}

.back {
  display: block;
  margin-top: 40px;
}
