.image {
  margin-bottom: 20px;
}
.mainContent{
  margin-top: 2rem;
  /* margin-left: 25%; */
}
.controls {
  position: absolute;
  right: 30px;
  top: 0;
}

.btn-inline {
  display: inline;
}

.redBackground {
  background-color: red;
}

.plainButton {
  margin-right: 10px;
  display: inline-block;
  background: rgb(0, 140, 255);
  color: #fff;
  padding: 10px 40px;
  cursor: pointer;
  border: 0;
  border-radius: 15px;
}

.button {
  float: left;
  margin-right: 10px;
  display: inline-block;
  background: red;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border: 0;
  border-radius: 10px;
}

.trueAndFalse{
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.markdownText {
  margin-top: 2rem;
  font-size: large;
}

.back {
  display: block;
  margin-top: 40px;
}

.info {
  margin-bottom: 1rem;
}

.container {
  background-color: var(--basicBlue);
  height: 100vh;
}

p .help-links{
 margin-left: 100px;
}

.audioImageContainer {
  margin: auto;
  max-width: 700px;
}

.mediaContainer {
  margin: auto;
  max-width: 700px;
}

.correctButton{
  background-color:aqua
  
}

.displayFlex{
 width: 65rem ;
 background-color: aqua;
  display:flex;
align-items: center;
margin-top: 5rem;
font-size: 30px;
}