.card {
  background-color: rgb(255, 255, 255);
  border-left: 5px solid;
  margin: 20px 0;
  padding: 13px;
  -webkit-box-shadow: 3px 4px 7px rgb(121 121 121 / 47%);
  box-shadow: 3px 4px 7px rgb(121 121 121 / 47%);
}

.progressContainer {
  display: flex;
  align-items: center;
}

.progressBarContainer {
  width: 100%;
  /* padding-top: 1rem;*/

  justify-items: center;
  margin-right: 1rem;
}

.progressText {
  color: var(--primary-app-color);
  /*padding-top: 1rem;*/
}

.btnContainer {
  margin-top: 10px;
}

.myButton {
  background-color: blue;
  color: white;
  cursor: pointer;
}
