.course {
  background-color: rgb(255, 255, 255);
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  padding: 13px;
  box-shadow: 3px 4px 7px rgba(121, 121, 121, 0.472);
}

.progressContainer{
  display: flex;
  align-items: center;
}

.progressBarContainer{

  width: 100%;
  padding-top: 2rem;
  
  justify-items: center;
  margin-right: 1rem;
}

.progressText{
  color: var(--primary-app-color);
  padding-top: 2rem;
}

.buttonContainer{
  padding-top: 2rem;
  text-align: right;
}

.courseTitle{
  padding-top: 6px;
  color: var(--primary-app-color);
  font-weight: bold;
}

.img {
  flex: 1;
  margin: 10px;
}

.roundedCorners{
  border-radius: 15px;
}

.info {
  flex: 2;
}

@media (max-width: 600px) {
  .event {
    flex-direction: column;
    text-align: center;
  }

  .info {
    margin-bottom: 20px;
  }
}
