.gridContainer {
  display: grid;
  grid-template-columns: 80px auto;
  align-items: center;
  gap: 5px;
}

.leftColumn {
  padding: 10px;
  font-size: xx-large;
  font-weight: bold;
  text-align: right;
}
