.course {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  padding: 13px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
}

.progressContainer{
  display: flex;
  align-items: center;
}

.progressBarContainer{

  width: 100%;
  padding-top: 2rem;
  
  justify-items: center;
  margin-right: 1rem;
}

.progressText{
  color: var(--primary-app-color);
  padding-top: 2rem;
}

.buttonContainer{
  padding-top: 2rem;
  text-align: right;
}

.img {
  flex: 1;
  margin: 10px;
}

.info {
  flex: 2;
}

@media (max-width: 600px) {
  .event {
    flex-direction: column;
    text-align: center;
  }

  .info {
    margin-bottom: 20px;
  }
}
