.footer {
  margin: 100px 0 40px;
  text-align: center;
  flex-shrink: 0;
}

.footer p {
  margin: 10px 0;
  max-width: 1000px;
}

.austurbru{

  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 2rem;

}

/* .footer,
.austurbru{
  height: 0px;
} */