/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.ui.yellow.button,
.ui.yellow.buttons .button {
  background-color: var(--yellow) !important;
  color: #000;
}

.ui.red.button,
.ui.red.buttons .button {
  background-color: var(--red) !important;
}

.ui.green.button,
.ui.green.buttons .button {
  background-color: var(--green) !important;
}

.ui.blue.button,
.ui.blue.buttons .button {
  background-color: var(--blue) !important;
}

.ui.basic.yellow.button,
.ui.basic.yellow.buttons .button,
.ui.basic.yellow.button:hover {
  -webkit-box-shadow: 0 0 0 1px var(--yellow) inset !important;
  box-shadow: 0 0 0 1px var(--yellow) inset !important;
  background-color: white !important;
  color: var(--yellow) !important;
}

.ui.basic.red.button,
.ui.basic.red.buttons .button,
.ui.basic.red.button:hover {
  -webkit-box-shadow: 0 0 0 1px var(--red) inset !important;
  box-shadow: 0 0 0 1px var(--red) inset !important;
  background-color: white !important;
  color: var(--red) !important;
}

.ui.basic.green.button,
.ui.basic.green.buttons .button,
.ui.basic.green.button:hover {
  -webkit-box-shadow: 0 0 0 1px var(--green) inset !important;
  box-shadow: 0 0 0 1px var(--green) inset !important;
  background-color: white !important;
  color: var(--green) !important;
}

.ui.basic.blue.button,
.ui.basic.blue.buttons .button,
.ui.basic.blue.button:hover {
  -webkit-box-shadow: 0 0 0 1px var(--blue) inset !important;
  box-shadow: 0 0 0 1px var(--blue) inset !important;
  background-color: white !important;
  color: var(--blue) !important;
}



/*
.ui.yellow.button, .ui.yellow.buttons .button {
  background-color: var(--yellow) !important;
}

.ui.red.button, .ui.red.buttons .button {
  background-color: var(--red) !important;
}

.ui.green.button, .ui.green.buttons .button {
  background-color: var(--green) !important;
}

.ui.blue.button, .ui.blue.buttons .button {
  background-color: var(--blue) !important;
}

*/


:root {
  --primary-app-color: #094074;
  --blue: #094074;
  --basicOrange: #FE9000;
  --basicBlue: #DEE2FF;
  --white: #faf0e6;
  --yellow: #FED01C;
  --red: #EF4723;
  --light-red: rgb(255, 68, 68);
  --green: #28B34B;
  --light-gray: #6D6D6D;


  --mainBackgroundColor: #F3F3F3;
  --progressBar-bg: #b8b8b8;

  /*   --mainBackgroundColor: rgba(197, 168, 114, 0.103);
 */
  /*
  blueish color
  --mainBackgroundColor: #DEE2FF;
  */
}


html,
body {
  /* font-family: "Poppins", sans-serif; */
  font-family: 'Roboto', sans-serif;
  line-height: 1.8;
  background-color: var(--mainBackgroundColor);
  height: 80%;
}


a {
  text-decoration: none;
  color: steelblue;
}

p {
  margin: 10px 0;
}

h1 {
  margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-app-color);
}


.btn {
  display: inline-block;
  background: var(--yellow);
  color: var(--light-gray);
  padding: 10px 20px;
  cursor: pointer;
  border: 0;
  border-radius: 10px;
}

.btn:hover {
  opacity: 0.9;
}

.btn-secondary {
  font-weight: 200;
  /* font: inherit; */
  font-size: 10px;
  background: var(--primary-app-color);
  color: #fff !important;
  border: 0;
  border-radius: 10px;
  padding: 5px 15px;
  margin: 0 20px;
  cursor: pointer;
  width: 10rem;
}

.btn-secondary:hover {
  opacity: 0.8;
}

.btn-icon {

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: medium;


}

.btn-icon svg {
  margin-right: 5px;
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 500ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 500ms;
}

.rhap_container,
.rhap_container *:focus {
  outline: none !important;
}

.rhap_container {
  background-color: rgb(0, 0, 0, 0) !important;
}

.rhap_container svg {
  color: white !important;
}

.rhap_progress-indicator {
  background-color: white !important;
  width: 15px !important;
  height: 15px !important;
  top: -5px !important;
}

.rhap_time {
  display: none;
}

.rhap_progress-filled {
  background-color: white !important;
}

.rhap_controls-section {
  flex: none !important;
}