@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


:root {
  --blue: #6495ed;
  --basicBlue: #DEE2FF;
  --white: #faf0e6;
  --yellow:#FEC600;
  --red: #D53C3C;
  --light-red: rgb(255, 68, 68);
  --green: #00C853;
  --light-gray: #6D6D6D;
}


html,
body {
  font-family: "Poppins", sans-serif;
  line-height: 1.8;
}


a {
  text-decoration: none;
  color: steelblue;
}

p {
  margin: 10px 0;
}

h1 {
  margin-bottom: 20px;
}


.btn {
  display: inline-block;
  background: var(--yellow);
  color: var(--light-gray);
  padding: 10px 20px;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.9;
}

.btn-secondary {
  font: inherit;
  font-size: 13px;
  background: #000;
  color: #fff !important;
  border: 0;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 0 20px;
  cursor: pointer;
}

.btn-secondary:hover {
  opacity: 0.8;
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-icon svg {
  margin-right: 5px;
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 500ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 500ms;
}

.rhap_container, .rhap_container *:focus {
  outline: none !important;
}

.rhap_container {
  background-color: rgb(0, 0, 0, 0) !important;
}

.rhap_container svg {
  color: white !important;
}

.rhap_progress-indicator {
  background-color: white !important;
  width: 15px !important;
  height: 15px !important;
  top: -5px !important;
}

.rhap_time {
  display: none;
}

.rhap_progress-filled {
  background-color: white !important;
}

.rhap_controls-section {
  flex: none !important;
}




