.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:  var(--mainBackgroundColor);
  color: #333;
  height: 80px;
  padding: 0 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* background: url('/images/logo.png') no-repeat left; */
 
  justify-content: space-around;
  font-weight: 700;
  font-style: normal;
  line-height: 20px;

}


.logoImage{
  width: 100px;
  height: 50px;
  background: url('/images/logo.png') no-repeat left ;
}

.header a {
  color: var(--blue);
  margin-right: 20px;
  font-size: large;
}

.header a:hover {
  color: #000;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.logo {
  color: var(--primary-app-color);

  font-style: normal;
  font-weight: medium;
  font-size: 2rem;
  line-height: 100%;
  /* text-transform: uppercase; */
  /* background:  url('/images/logo.jpg') 10px; */
}

.logo a {


  color: var(--primary-app-color);
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto;
  }

  .header ul {
    margin: 20px 0;
    flex-direction: column;
    text-align: center;
  }

  .header a {
    margin-right: 0;
  }

  .logo {
    margin: 20px 0;
  }
}

