.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:  var(--mainBackgroundColor);
  color: #333;
  height: 80px;
  padding: 0 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* background: url('/images/logo.png') no-repeat left; */
 
  justify-content: space-around;
  font-weight: 700;
  font-style: normal;
  line-height: 20px;
  box-shadow: -1px 3px 14px 4px rgb(0 0 0 / 25%);

}

.logoAndLeikur{
  width:25rem;
  display: flex;
  align-items: center
}

.logoImage{
  width: 25%;
  height: 50px;
  background: url('/images/logo.png') no-repeat left ;
  height: 50px;
  cursor: pointer;
}

.header a {
  color: var(--blue);
  margin-right: 20px;
  font-size: large;
}

.header a:hover {
  opacity: 0.8;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.logo {
  color: var(--primary-app-color);

  font-style: normal;
  font-weight: medium;
  font-size: 2rem;
  line-height: 100%;
  /* text-transform: uppercase; */
  /* background:  url('/images/logo.jpg') 10px; */
}

.logo a {

  color: var(--primary-app-color);
}

.userDropdown {
  margin-left: 20px;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto;
    padding: 30px;
  }

  .header ul {
    margin: 20px 0;
    flex-direction: column;
    text-align: center;
  }

  .header a {
    margin-right: 0;
  }

  .logo {
    margin: 20px 0;
  }

  .logoAndLeikur{
    flex-direction: column;
  }
}

/* ----------- Galaxy Tab 2 ----------- */

/* Portrait and Landscape */
@media 
  (max-device-width: 800px) 
   {
   .header li{
     margin-top: 2rem !important;
    }
}
