.headerCenter{
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.container {
    padding: 20px;
    width: 80%;
}


.progressBarContainer{
    width: 70%;
    align-items: center;
  }

.topContainer {
    /* overflow: hidden; */

    z-index: 100;

    top: 0;
    /* width: 100%; */
    background-color: var(--mainBackgroundColor);
    height: 5em;
    display: flex;

    justify-content: space-around; 
    align-items: center;
    margin: auto;
    width: 100%;
    /* position: inherit; */
    /* padding: 20px;
    width: 80%;
     */
     /* max-width: 900px; */
     /* left: -1%; */
     max-width: 900px;
    
}

.buttonContainer {
    margin-left: 1rem;
    margin-right: 1rem;
}
/*
@media only screen and (min-width: 768px) {
    .infoButton {
        margin-right: 5rem;

    }

    .closeButton {
        margin-left: 5rem;
    }
}*/

.headerCenter{
    /* background-color: aqua; */
    text-align: center;
}