.lesson {
  background-color: white;
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  padding: 13px;
  box-shadow: 3px 4px 7px rgba(121, 121, 121, 0.472);

}

.lessonTitle{
  padding-top: 6px;
  color: var(--primary-app-color);
  font-weight: bold;
}

.progressContainer{
  display: flex;
  align-items: center;
}

.progressBarContainer{
  width: 100%;
  padding-top: 2rem;
  justify-items: center;
  margin-right: 1rem;
}

.buttonContainer{
  padding-top: 2rem;
  text-align: right;
}

.progressText{
  color: var(--primary-app-color);
  padding-top: 2rem;
}



.img {
  flex: 1;
  margin: 10px;
}

.roundedCorners{
  border-radius: 15px;
}

.info {
margin: 2rem;
width: 35%;
}

@media (max-width: 600px) {
  .event {
    flex-direction: column;
    text-align: center;
  }

  .info {
    margin-bottom: 20px;

  }
}
