.feedbackWrapper{
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.2);
}

.centerFeedbackBar{
width: 100%;
max-width: 900px;
padding: 0 20px;
}

.feedbackBar {

  height: 5rem;

  width: 100%;
  max-width: 900px;
  /* background-color: white; */
  display: flex;
  /* justify-content: space-between; */
  justify-content: space-between;
  align-items: center;
  color: white;
 

 
}


/* ----------- Galaxy S3 ----------- */
/* @media only screen and (max-width: 600px) {
  .feedbackBar {
    background-color: rgb(17, 73, 92);
  }
} */

/* Portrait and Landscape */
 /* @media screen and (max-width: 360px) 

 {
    .feedbackBar{
      /* justify-content: space-around; */
    /* }
}   */

/* .plainButton {
  margin-right: 10px;
  display: inline-block;
  background: var(--yellow);
  color: var(--light-gray);
  padding: 10px 40px;
  cursor: pointer;
  border: 0;
  border-radius: 15px;
}
.backButton{
  margin-right: 10px;
  display: inline-block;
  background: rgb(163, 163, 163);
  color: #fff;
  padding: 10px 40px;
  cursor: pointer;
  border: 0;
  border-radius: 15px;
}
.correctButton {
  margin-right: 10px;
  display: inline-block;
  background: var(--green);
  color: #fff;
  padding: 10px 40px;
  cursor: pointer;
  border: 0;
  border-radius: 15px;
}

.wrongButton {
  margin-right: 10px;
  display: inline-block;
  background: #e65035;
  color: #fff;
  padding: 10px 40px;
  cursor: pointer;
  border: 0;
  border-radius: 15px;
} */
