.headerCenter {}

.container {
    padding: 20px;

}

.progressContainer {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
}

.topContainer {
    /* overflow: hidden; */

    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--basicBlue);
    height: 5em;
    display: flex;
    justify-content: space-around;
    align-items: center;

}


@media only screen and (min-width: 768px) {
    .infoButton {
        margin-right: 5rem;

    }

    .closeButton {
        margin-left: 5rem;
    }
}