.feedbackBar {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 5rem;

  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0.5rem 10%;
  box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.2);
}


/* .plainButton {
  margin-right: 10px;
  display: inline-block;
  background: var(--yellow);
  color: var(--light-gray);
  padding: 10px 40px;
  cursor: pointer;
  border: 0;
  border-radius: 15px;
}
.backButton{
  margin-right: 10px;
  display: inline-block;
  background: rgb(163, 163, 163);
  color: #fff;
  padding: 10px 40px;
  cursor: pointer;
  border: 0;
  border-radius: 15px;
}
.correctButton {
  margin-right: 10px;
  display: inline-block;
  background: var(--green);
  color: #fff;
  padding: 10px 40px;
  cursor: pointer;
  border: 0;
  border-radius: 15px;
}

.wrongButton {
  margin-right: 10px;
  display: inline-block;
  background: #e65035;
  color: #fff;
  padding: 10px 40px;
  cursor: pointer;
  border: 0;
  border-radius: 15px;
} */
