.sidedrawer {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  height: 100vh;
  width: 70%;
  background: lightgray;
  color: black;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}




.sidedrawer a {
  background-color: var(--primary-app-color);
  text-align: center;
  width: 100%;
  top: 10px;
  height: 0.2rem;  
  margin: 0.2rem;
  padding-top: 2rem;
  padding-bottom: 5rem;
  color: white;
  display: inline-block;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 24px;
}

.sidedrawer p {
  margin: 5rem;

}

/* @media (max-width: 800px) {
  div.help-links {
    flex-direction: column;
  }
} */

/* div.help-links {
  background-color: #4CAF50;
  border: none;

  padding: 15px 32px;
  text-align: center;
  text-decoration: none;

 

} */